# fcitx5 env variables
export INPUT_METHOD=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=\@im=fcitx

# fcitx5 kitty integration
export GLFW_IM_MODULE=ibus

# qt gtk theme sync
# export QT_QPA_PLATFORMTHEME=qt5ct 
