[Desktop Entry]
Version=1.0
Type=Application
Name=Help
Comment=Documentation for Beginners
Exec=/usr/bin/manjaro-documentation
Icon=application-pdf
Terminal=false
Categories=Utility;Documentation;
X-XFCE-Source=file:///usr/share/applications/manjaro-documentation.desktop
Path=
StartupNotify=false
