[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=Go
Exec=/usr/bin/manjaro-hello
Icon=manjaro
Comment=A tool providing access to documentation and support for new Manjaro users.
X-XFCE-Source=file:///usr/share/applications/manjaro-hello.desktop
Path=
