[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[3EF66424F663DAA3]
row=1
col=0

[528A20FF8A20E0E9]
row=0
col=0

[000C587200052BCC]
row=3
col=0

[AABAEABDBAEA84E3]
row=2
col=0

[Wastebasket]
row=4
col=0

[/]
row=5
col=0

[/home/xiaoshihou]
row=6
col=0

